Actividades Modulo 04: Francisco Javier Ramirez Arias

## Lectura de archivos

In [1]:
#Código que permite bajar datos.
from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "Example1.txt")

In [2]:
# Leemos el archivo .txt
example1 = "Example1.txt"
file1 = open(example1, "r")

In [3]:
#La siguientes funciones permiten obtener la trayectoria
#y el modo del archivo ya sea lectura o escritura
file1.name

'Example1.txt'

In [4]:
file1.mode

'r'

In [5]:
#Lee el contenido del archivo y se lo
#asigena a una variable, esta se imprime
FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [6]:
# Imprime lo que contiene el archivo como
# pero en lineas separadas.

print(FileContent)

This is line 1
This is line 2
This is line 3

In [7]:
#Nos entrega el tipo de datos que contiene el archivo
type(FileContent)

str

In [8]:
#Intrucción que cieera el archivo
file1.close()

In [9]:
#El cógigo que se muestra a continuación permite
#una forma mas eficiente de leer los archivos
#haciendo uso de la instruccion "with"
with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [10]:
#Las siguientes líneas de código utilizan un método
#para leer cierta cantidad de carácteres del archivo
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [11]:
#Código que lee una cierta cantidad de carácteres.
with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [12]:
#El siguiente código permite leer una sola linea del archivo
with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [14]:
#El método readline solamente lee la linea, no lee pasada la linea.
#El método read regresa un determinado número de carácteres.
with open(example1, "r") as file1:
    print(file1.readline(20)) 
    print(file1.read(20))

This is line 1

This is line 2
This

In [15]:
#Código que permite leer las diferentes lineas por
#medio del ciclo for
with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [16]:
#Se lee todas las lineas y se
#escribe en la guarda como lista
with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [18]:
#Imprime las diferentes lineas de la lista
print(FileasList[0])
print(FileasList[1])
print(FileasList[2])

This is line 1

This is line 2

This is line 3

## Escritura de archivos

In [21]:
#Creea y escribe un archivo .txt
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line que se escribio")

In [22]:
#Por medio de un método se lee lo escrito en el archivo
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line que se escribio

In [23]:
#Escribe diferentes lineas al archivo
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [24]:
#Verificamos los que esta escrito en el archivo
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [25]:
#Generamos una lista para escribir al archivo
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [26]:
#Escribimos la lista al archivo
with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [27]:
#Verificamos lo que se encuntra en el archivo
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [29]:
#Podemos observar que de esta modo la función writefile
#sobre escribe todo el archivo
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

## Anexando archivo

In [33]:
#Escribe una nueva linea al archivo de texto
with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [34]:
#Verifica si las nuevas lineas se encuentran en el archivo
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E
This is line C
This is line D
This is line E
This is line C
This is line D
This is line E

## Modos Adicionales

In [35]:
#Este modo permite crear un archivo si este no existe
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [39]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [ ]:
def cleanFiles(currentMem, exMem):
    with open(currentMem,'r+') as writeFile: # TODO: Open the currentMem file as in r+ mode
        with open(exMem, 'a+') as appendFile:#TODO: Open the exMem file in a+ mode

        writeFile.seek(0) #TODO: Read each member in the currentMem (1 member per row) file into a list.
         members = readFile.readLines()
            
         header = members[0]
            members.pop(0)   # Hint: Recall that the first line in the file is the header.

       inactive = [member for member in members if ('no' in member)]
                      
          writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()
          
    

# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)

headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

In [ ]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

## Pandas

In [ ]:
#Se manda a llamar a la libreria Pandas, se crea una abraviación
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [ ]:
#Despliega los primero tres renglones
df.head(3)
df

In [ ]:
#Obtiene la columna a
df['a']

In [2]:
#Importa la libreria de pandas
#Se crea un dataframe
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [3]:
#Obtiene los valores unicos de la columna a
df['a'].unique()

array([1, 2], dtype=int64)

In [4]:
#Regresa los renglones en donde la columna a es menor que uno
df[df['a']<2]

   a  b
0  1  1
2  1  1

## Introducción a Pandas

In [6]:
#Se intalan ciertas dependencias para instalar el archivo
import piplite
await piplite.install(['xlrd','openpyxl'])

In [7]:
#Importa la libreria de Pandas
import pandas as pd

In [8]:
# Descarga y lee el archivo de datos

from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "TopSellingAlbums.csv")
df = pd.read_csv("TopSellingAlbums.csv")

In [9]:
#imprime los primeron 5 renglones del dataframe
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [10]:
#Lee el archivo de datos de excel e inprime los primeros 5 renglones
xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

await download(xlsx_path, "TopSellingAlbums.xlsx")
df = pd.read_excel("TopSellingAlbums.xlsx")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [11]:
#Accesamos a la columna Length
x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [12]:
#Verificamos el tipo de columna
x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [13]:
#Accesamos a multiples renglones
y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [14]:
#Metodo que nos permite accesar a elementos unicos
df.iloc[0, 0]

'Michael Jackson'

In [15]:
#Accesamos al segundo renglo y primera columna
df.iloc[1,0]

'AC/DC'

In [16]:
#Primer renglon, segunda columna
df.iloc[0,2]

1982

In [17]:
#Segundo renglon, tercer columna
df.iloc[1,2]

1980

In [19]:
#Acceso a la columna utilizando el nombre
df.loc[1, 'Artist']

'AC/DC'

In [20]:
#Acceso a la columna utilizando el nombre
df.loc[1, 'Released']

1980

In [21]:
#Subseccion de conjunto de datos

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [22]:
#Subseccion del conjunto de datos
df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [25]:
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [26]:
q = df[['Released','Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [27]:
df.iloc[1, 2]

1980

In [29]:
new_index=['a','b','c','d','e','f','g','h']
df_new = df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object